//Size Screen
$break-small: 1100px;
$break-large: 1320px;

// Fonts
$font-stack01:    arial, sans-serif;

//background-color for section
$background-color-section01: #dfe4e8; //background in  "shorted-contact", in "featured-property-box"
$background-color-section02: white; //background in  "main-menu"
$background-color-section03: black; //background in  "copyright"
$background-color-section04: #1655a2; //background in  "form-booking"


//background-color for button
$background-color-button01: #5ea3da; //background of button in "property-content"
$background-color-button02: #c29942; //background of button in "btn-for-sale"
$background-color-button03: #134179; // background of button in "first-row" in "form-booking"
//background-color for item
$background-color-item01: #772d42; // background in "hamburger-icon-line"

// color for text
$color-text01: #718a9e; //text in "shorted-contact"
$color-text02: black; //text in "primary-nav" 
$color-text03: white; //text in "featured-property-content"

// color for text in button
$color-text-button01: black; //text in button  "btn-for-sale"
.head{
    font-family: $font-stack01;
    
    .shorted-contact{
        margin-top:5px;
        color: $color-text01;
        background-color: $background-color-section01;
        div{
            display: inline-block;
        }
        .company-contact{
            span{
                margin: 0px 20px 0px 10px;
                font-weight: 600;
                img{
                    height: 15px;
                    width: 15px;
                }
            }
        }
        
        .media-contact{
            float: right;
            span{
                margin: 0px 5px 0px 5px;
                font-weight: 600;
                img{
                    height: 15px;
                    width: 15px;
                }
            }
        }
    }
    .main-menu{
        
        width: 100%;
        margin-top:50px;
        
        background-color: $background-color-section02;
        div{
            display: inline-block
        }
        .logo{
            font-size: 24px;
            font-weight: 600;
        }
        .menu-icon{
            float:right;
            display:none;
            margin: 3px 20px 0px 0px;
            button{
                background-color:white;
                border: none;
                &:focus{
                    outline:none
                }
            }
            span{
                display:block
            }
            .hamburger-icon-line{
                height: 5px;
                width: 30px;
                background-color: $background-color-item01;
                margin-bottom: 3px;
                border-radius: 5px;
            }
            @media only screen and (max-width: $break-small) {
                display:block;
            }
        }
        .primary-nav{
            div{
                display: inline-block;
            }
            .nav-list{
                 li{
                    list-style-type: none;
                    display: inline;
                    a{
                        color: $color-text02;
                        font-weight: 600;
                        margin:0px 20px 0px 10px;
                        &:hover{
                            cursor:pointer
                        }
                    }                   
                }
            }
            .login-box{
                float:right;
                a{
                    font-weight: 600;
                }
            }
            &.show-menu{
                display:block;
                margin:0;
                .nav-list{
                    margin: 0px 10px 0px 5px;
                }
                .login-box{
                    margin:0;
                }
                
            }
            @media only screen and (max-width: $break-small) {
                display:none
            }
        }
    }
}

.body{
    font-family: $font-stack01;
    .web-sliders{
        background-image: url('./img/background-slider.jpg');
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .form-booking{
        background-color: $background-color-section04;
        margin: 20px 0px 0px 0px;
        .first-row{
            display: flex;
            padding: 30px 0px 20px 0px;
            div{
                flex:1;
            }
            select{
                width: 90%;
                border-radius:3px;
            }
            button{
                border-radius: 5px;
                background-color: $background-color-button03;
                color: white;
                border: none;
            }
             @media only screen and (max-width: $break-small) {
                display: block;
                padding-left: 30px
            }
            .sale-rent{
                button{
                    width: 45%;
                }
            }
        }
        .second-row{
            display: flex;
            margin: 5px 0px 0px 0px;
            padding: 5px 0px 30px 0px;
             @media only screen and (max-width: $break-small) {
                display: block;
                padding-left: 30px
            }
            div{
                flex:1
            }
            button{
                width: 91%;
                border-radius: 5px;
                background-color: $background-color-button01;
                color: white;
            }
            select{
                border-radius:3px;
            }
            .bed{
                select{
                    width: 45%;
                }
            }
            .bath{
                select{
                    width: 45%;
                }
            }
            .floor-area{
                select{
                    width: 45%;
                }
            }
        }
    }
    .property{
        display: flex;
        background-image: url('./img/white-office.jpg');
         @media only screen and (max-width: $break-large) {
            display:block;
            align-items: center;
        }
        .property-content{
            flex:1;
            @media only screen and (max-width: $break-large) {
                padding: 10px 10px 10px 20px;
            }
            h1{
                font-size: 24px;
                font-weight: 600;
                margin-top:50px;
            }
            p{
                text-align: left;
                margin-top:30px;
            }
            button{
                width: 40%;
                border-radius: 5px;
                background-color: $background-color-button01;
                color: white;
                margin:20px 0px 10px 0px;
            }
            
        }
        .property-images{
            flex:1;
            @media only screen and (max-width: $break-large) {
                display:none
            }
            
        }

    }

    .featured{
        .title{
            h1{
                font-size: 24px;
                font-weight: 600;
                margin: 50px 0px 30px 0px;
                text-align: center;
            }
        }
        .featured-properties{
            display: flex;
            div{
                flex:1
            }
            @media only screen and (max-width: $break-small) {
                display: block;
            }
            .featured-property-box{
                background-color: $background-color-section01;
                margin-right: 20px;
                width:100%;
                
                h2{
                    font-size: 16px;
                    margin: 20px 5px 10px 20px;
                    @media only screen and (max-width: $break-small) {
                        margin: 30px 5px 10px 20px;
                        padding-top: 20px;
                    }
                }
                .featured-property-content-block{
                    background-image: url('./img/inside-house.jpg');
                    background-position: center;
                    background-size: cover;
                    color: $color-text03;
                    .featured-property-content{
                        opacity:0;
                        display: block;
                        p{
                            padding: 20px 10px 20px 10px;
                            font-size: 11px;
                        }
                        .btn-view-more{
                            width: 60%;
                            border-radius: 5px;
                            background-color: $background-color-button01;
                            color: white;
                            margin: 5px 0px 10px 20px;
                        }
                        .featured-property-content-booking{
                            display:flex;
                            h3{
                                font-size: 12px;
                                margin-left: 20px;
                                flex:1
                            }
                            .for-sale-box{
                                float: right;
                                margin: 10px 5px 0px 0px;
                                flex:1;
                                .btn-for-sale{
                                    background-color: $background-color-button02;
                                    color: $color-text-button01;
                                    font-size:12px;
                                    border-radius: 10px;
                                }
                            }
                        }
                        &:hover{
                            cursor: pointer;
                        }
                        &.active{
                            opacity:1
                        }
                    }
                }
                .featured-property-detail{
                    margin: 10px 5px 5px 20px;
                    span{
                        display: block;
                        img{
                            height: 15px;
                            width: 15px;
                            margin-right: 5px;
                        }
                    }
                    div{
                        display: inline-block;
                        margin: 10px 10px 5px 5px;
                        img{
                            height: 15px;
                            width: 15px;
                            margin-left:5px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    
    .subscribe{
        margin: 20px 0px 0px 0px;
        display:flex;
        background-image: url('./img/background-subscribe.png');
        @media only screen and (max-width: $break-small) {
            display:block
        }
        .subscribe-title{
            width: 100%;
            color: white;
            flex:1;
            @media only screen and (max-width: $break-large) {
                padding: 10px 10px 10px 20px;
            }
            h1{
                font-size: 24px;
                font-weight: 600;
                margin-top:50px;
                margin-bottom: 20px;
            }
            
            button{
                border-radius: 5px;
                background-color: $background-color-button01;
                color: white;
                margin:20px 0px 30px 0px;
               
            }
        }
        .icon-subcribe{
            flex:1;
            @media only screen and (max-width: $break-small) {
                display:none
            }
        }
    }
}

.footer{
    .sub-menu{
        background-color:$background-color-section01;
        padding: 10px 0px 10px 0px;
        div{
            display: inline-block;
        }
        .menu{
            a{
                color: $color-text01;
                font-weight: 600;
                margin:0px 20px 0px 10px;
                &:hover{
                    cursor:pointer
                }
            }
        }
        .contact{
            span{
                color: $color-text01;
                font-weight: 600;
                &:hover{
                    cursor:pointer
                }
            }
            img{
                height: 15px;
                width: 15px;
            }
        }
    }
     .copyright{
        background-color: $background-color-section03;
        div{
            display: inline-block;
            padding:30px 0px 10px 0px;
            p{
                color: white
            }
        }
        .designer{
            float: right
        }
    }
}