.head {
  font-family: arial, sans-serif; }
  .head .shorted-contact {
    margin-top: 5px;
    color: #718a9e;
    background-color: #dfe4e8; }
    .head .shorted-contact div {
      display: inline-block; }
    .head .shorted-contact .company-contact span {
      margin: 5px 20px 0px 10px;
      font-weight: 600; }
      .head .shorted-contact .company-contact span img {
        height: 15px;
        width: 15px; }
    .head .shorted-contact .company-contact br {
      display: none; }
      @media only screen and (max-width: 763px) {
        .head .shorted-contact .company-contact br {
          display: block; } }
    .head .shorted-contact .media-contact {
      float: right; }
      .head .shorted-contact .media-contact span {
        margin: 0px 5px 0px 5px;
        font-weight: 600; }
        .head .shorted-contact .media-contact span img {
          height: 15px;
          width: 15px; }
  .head .main-menu {
    width: 100%;
    margin-top: 50px;
    background-color: white; }
    .head .main-menu div {
      display: inline-block; }
    .head .main-menu .logo {
      font-size: 24px;
      font-weight: 600; }
    .head .main-menu .menu-icon {
      float: right;
      display: none;
      margin: 3px 20px 0px 0px; }
      .head .main-menu .menu-icon button {
        background-color: white;
        border: none; }
        .head .main-menu .menu-icon button:focus {
          outline: none; }
      .head .main-menu .menu-icon span {
        display: block; }
      .head .main-menu .menu-icon .hamburger-icon-line {
        height: 5px;
        width: 30px;
        background-color: #772d42;
        margin-bottom: 3px;
        border-radius: 5px; }
      @media only screen and (max-width: 1100px) {
        .head .main-menu .menu-icon {
          display: block; } }
    .head .main-menu .primary-nav div {
      display: inline-block; }
    .head .main-menu .primary-nav .nav-list li {
      list-style-type: none;
      display: inline; }
      .head .main-menu .primary-nav .nav-list li a {
        color: black;
        font-weight: 600;
        margin: 0px 20px 0px 10px; }
        .head .main-menu .primary-nav .nav-list li a:hover {
          cursor: pointer; }
        @media only screen and (max-width: 763px) {
          .head .main-menu .primary-nav .nav-list li a {
            margin: 0px 5px 0px 5px; } }
    .head .main-menu .primary-nav .nav-list br {
      display: none; }
      @media only screen and (max-width: 763px) {
        .head .main-menu .primary-nav .nav-list br {
          display: block; } }
    .head .main-menu .primary-nav .login-box {
      float: right; }
      .head .main-menu .primary-nav .login-box a {
        font-weight: 600; }
    .head .main-menu .primary-nav.show-menu {
      display: block;
      margin: 0; }
      .head .main-menu .primary-nav.show-menu .nav-list {
        margin: 0px 10px 0px 5px; }
      .head .main-menu .primary-nav.show-menu .login-box {
        margin: 0; }
    @media only screen and (max-width: 1100px) {
      .head .main-menu .primary-nav {
        display: none; } }

.body {
  font-family: arial, sans-serif; }
  .body .web-sliders {
    background-image: url("./img/background-slider.jpg");
    width: 100%;
    background-position: center;
    background-size: cover; }
  .body .form-booking {
    background-color: #1655a2;
    margin: 20px 0px 0px 0px; }
    .body .form-booking .first-row {
      display: flex;
      padding: 30px 0px 20px 0px; }
      .body .form-booking .first-row div {
        flex: 1; }
      .body .form-booking .first-row select {
        width: 90%;
        border-radius: 3px; }
      .body .form-booking .first-row button {
        border-radius: 5px;
        background-color: #134179;
        color: white;
        border: none; }
      @media only screen and (max-width: 1100px) {
        .body .form-booking .first-row {
          display: block;
          padding-left: 30px; } }
      .body .form-booking .first-row .sale-rent button {
        width: 45%; }
    .body .form-booking .second-row {
      display: flex;
      margin: 5px 0px 0px 0px;
      padding: 5px 0px 30px 0px; }
      @media only screen and (max-width: 1100px) {
        .body .form-booking .second-row {
          display: block;
          padding-left: 30px; } }
      .body .form-booking .second-row div {
        flex: 1; }
      .body .form-booking .second-row button {
        width: 91%;
        border-radius: 5px;
        background-color: #5ea3da;
        color: white; }
      .body .form-booking .second-row select {
        border-radius: 3px; }
      .body .form-booking .second-row .bed select {
        width: 45%; }
      .body .form-booking .second-row .bath select {
        width: 45%; }
      .body .form-booking .second-row .floor-area select {
        width: 45%; }
  .body .property {
    display: flex;
    background-image: url("./img/white-office.jpg"); }
    @media only screen and (max-width: 1320px) {
      .body .property {
        display: block;
        align-items: center; } }
    .body .property .property-content {
      flex: 1; }
      @media only screen and (max-width: 1320px) {
        .body .property .property-content {
          padding: 10px 10px 10px 20px; } }
      .body .property .property-content h1 {
        font-size: 24px;
        font-weight: 600;
        margin-top: 50px; }
      .body .property .property-content p {
        text-align: left;
        margin-top: 30px; }
      .body .property .property-content button {
        width: 40%;
        border-radius: 5px;
        background-color: #5ea3da;
        color: white;
        margin: 20px 0px 10px 0px; }
    .body .property .property-images {
      flex: 1; }
      @media only screen and (max-width: 1320px) {
        .body .property .property-images {
          display: none; } }
  .body .featured .title h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 50px 0px 30px 0px;
    text-align: center; }
  .body .featured .featured-properties {
    display: flex; }
    .body .featured .featured-properties div {
      flex: 1; }
    @media only screen and (max-width: 1100px) {
      .body .featured .featured-properties {
        display: block; } }
    .body .featured .featured-properties .featured-property-box {
      background-color: #dfe4e8;
      margin-right: 20px;
      width: 100%; }
      .body .featured .featured-properties .featured-property-box h2 {
        font-size: 16px;
        margin: 20px 5px 10px 20px; }
        @media only screen and (max-width: 1100px) {
          .body .featured .featured-properties .featured-property-box h2 {
            margin: 30px 5px 10px 20px;
            padding-top: 20px; } }
      .body .featured .featured-properties .featured-property-box .featured-property-content-block {
        background-image: url("./img/inside-house.jpg");
        background-position: center;
        background-size: cover;
        color: white; }
        .body .featured .featured-properties .featured-property-box .featured-property-content-block .featured-property-content {
          opacity: 0;
          display: block; }
          .body .featured .featured-properties .featured-property-box .featured-property-content-block .featured-property-content p {
            padding: 20px 10px 20px 10px;
            font-size: 11px; }
          .body .featured .featured-properties .featured-property-box .featured-property-content-block .featured-property-content .btn-view-more {
            width: 60%;
            border-radius: 5px;
            background-color: #5ea3da;
            color: white;
            margin: 5px 0px 10px 20px; }
          .body .featured .featured-properties .featured-property-box .featured-property-content-block .featured-property-content .featured-property-content-booking {
            display: flex; }
            .body .featured .featured-properties .featured-property-box .featured-property-content-block .featured-property-content .featured-property-content-booking h3 {
              font-size: 12px;
              margin-left: 20px;
              flex: 1; }
            .body .featured .featured-properties .featured-property-box .featured-property-content-block .featured-property-content .featured-property-content-booking .for-sale-box {
              float: right;
              margin: 10px 5px 0px 0px;
              flex: 1; }
              .body .featured .featured-properties .featured-property-box .featured-property-content-block .featured-property-content .featured-property-content-booking .for-sale-box .btn-for-sale {
                background-color: #c29942;
                color: black;
                font-size: 12px;
                border-radius: 10px; }
          .body .featured .featured-properties .featured-property-box .featured-property-content-block .featured-property-content:hover {
            cursor: pointer; }
          .body .featured .featured-properties .featured-property-box .featured-property-content-block .featured-property-content.active {
            opacity: 1; }
      .body .featured .featured-properties .featured-property-box .featured-property-detail {
        margin: 10px 5px 5px 20px; }
        .body .featured .featured-properties .featured-property-box .featured-property-detail span {
          display: block; }
          .body .featured .featured-properties .featured-property-box .featured-property-detail span img {
            height: 15px;
            width: 15px;
            margin-right: 5px; }
        .body .featured .featured-properties .featured-property-box .featured-property-detail div {
          display: inline-block;
          margin: 10px 10px 5px 5px; }
          .body .featured .featured-properties .featured-property-box .featured-property-detail div img {
            height: 15px;
            width: 15px;
            margin-left: 5px;
            margin-right: 5px; }
  .body .subscribe {
    margin: 20px 0px 0px 0px;
    display: flex;
    background-image: url("./img/background-subscribe.png"); }
    @media only screen and (max-width: 1100px) {
      .body .subscribe {
        display: block; } }
    .body .subscribe .subscribe-title {
      width: 100%;
      color: white;
      flex: 1; }
      @media only screen and (max-width: 1320px) {
        .body .subscribe .subscribe-title {
          padding: 10px 10px 10px 20px; } }
      .body .subscribe .subscribe-title h1 {
        font-size: 24px;
        font-weight: 600;
        margin-top: 50px;
        margin-bottom: 20px; }
      .body .subscribe .subscribe-title button {
        border-radius: 5px;
        background-color: #5ea3da;
        color: white;
        margin: 20px 0px 30px 0px; }
    .body .subscribe .icon-subcribe {
      flex: 1; }
      @media only screen and (max-width: 1100px) {
        .body .subscribe .icon-subcribe {
          display: none; } }

.footer .sub-menu {
  background-color: #dfe4e8;
  padding: 10px 0px 10px 0px; }
  .footer .sub-menu div {
    display: inline-block; }
  .footer .sub-menu .menu a {
    color: #718a9e;
    font-weight: 600;
    margin: 0px 20px 0px 10px; }
    .footer .sub-menu .menu a:hover {
      cursor: pointer; }
  .footer .sub-menu .menu br {
    display: none; }
    @media only screen and (max-width: 763px) {
      .footer .sub-menu .menu br {
        display: block; } }
  .footer .sub-menu .contact span {
    color: #718a9e;
    font-weight: 600; }
    .footer .sub-menu .contact span:hover {
      cursor: pointer; }
  .footer .sub-menu .contact img {
    height: 15px;
    width: 15px; }

.footer .copyright {
  background-color: black; }
  .footer .copyright div {
    display: inline-block;
    padding: 30px 0px 10px 0px; }
    .footer .copyright div p {
      color: white; }
  .footer .copyright .designer {
    float: right; }
