
body{
    margin: 20px 5px 20px 20px;
    font-family: arial
}
.home{
    .header-page{
        .logo-box{
            .title{
                font-size: 24px;
                font-weight: 600;
                font-family: arial
            }
        
        }
        .navbar-box{
            margin:5px 0px 2px 0px;
            .nav-item{
                font-size: 12px;
                font-weight: 600;
                color: black;
                margin-right: 20px;
                &:hover{
                    color:#337ab7;
                    cursor:pointer;
                    text-decoration: none

                }
            }
        }
        .login-box{
            margin:5px 0px 2px 0px;
            font-size: 14px;
            &:hover{
                cursor:pointer;
            }
        }
        
    }
    .body-page{
        .main-content{
            .item-carousel{
                height: 500px;
                img{
                    height: 100%
                }
            }
        }
        .book-form{
            background-color:#16487c;
            button{
                margin:20px 0px 20px 0px
            }
            select{
                margin:20px 0px 20px 0px
            }
            .first-row {
                .btn-for-sale{
                    background-color: #0a1f35;
                    color:white;
                    border-radius: 5px;
                    border:none;
                    &:focus{
                        background-color: #2867a8;
                        color:#4d535a;
                    }
                }
                .btn-for-rent{
                    background-color: #0a1f35;
                    color:white;
                    border-radius: 3px;
                    border:none;
                    &:focus{
                        background-color: #2867a8;
                        color:#4d535a;
                    }
                }
                .sl-location{
                    border-radius: 3px;
                    width: 100%
                }
                .sl-type{
                    border-radius: 3px;
                    width: 100%
                }
                .sl-special{
                    border-radius: 3px;
                    width: 100%
                }
            }
            .second-row{
                .sl-bed{
                    border-radius: 3px;
                    
                }
                .sl-bath{
                    border-radius: 3px;
                    
                }
                .sl-floor{
                    border-radius: 3px;
                    font-size:8px;
                    height: 22px
                }
                .btn-search{
                    background-color: #548cc5;
                    border-radius: 3px;
                    width:100%;
                    border:none;
                    color:white
                }
            }
        }
        .news{
            background-image: url('./img/white-office.jpg');
            background-position: center;
            background-size: cover;
            .information-property{
               h1{
                   font-weight: 600;
                    font-size: 24px;
                    padding: 40px 0px 20px 0px;
               }
               p{
                   font-size: 12px
               }
               button{
                   width:100%;
                   color:white;
                   border-radius: 3px;
                   border:none;
                   background-color: #548cc5;
               }
            }
            .show-property{
                img{
                    width: 100%
                }
            }
        }
        .featured-property{

        }
        .subcribe{
            background-image: url('./img/background-subscribe.png');
            color:white;
            h1{
                font-weight: 600;
                font-size: 24px;
                padding: 40px 0px 20px 0px;
               }
            p{
                   font-size: 12px
               }
            button{
                   width:100%;
                   color:white;
                   border-radius: 3px;
                   border:none;
                   background-color: #548cc5;
                   margin: 30px 0px 50px 0px

               }
               img{
                   margin: 20px 0px 0px 0px
               }
        }
    }
    footer{
        .nav-footer{
            .navbar-box-footer{
                margin: 20px 0px 20px 0px;
                .nav-item-footer{
                    font-size: 12px;
                    font-weight: 600;
                    color: #686f75;
                    margin-right: 10px;
                    &:hover{
                        color:#337ab7;
                        cursor:pointer;
                        text-decoration: none

                    }
                }
            }
            .info-contact{
                font-size: 12px;
                color: #686f75;
                margin: 20px 0px 20px 0px;
               span{
                   margin-right: 10px
               }
               
            }
            .media-contact{
                margin:20px 0px 20px 0px;
                a{
                    &:hover{
                        cursor:pointer;
                    }
                }
                img{
                    width: 12px
                }
                .twitter-contact{
                    width:20px
                }
                .link-in-icon{
                    width:20px
                }
            }
        }
        .copyright{
            background-color: black;
            p{
                font-size: 10px;
                color: white;
                margin: 30px 10px 30px 10px
            }
            .designer{
                float:right
            }
        }
    }
}